@use './functions' as *;
@use './mixins' as *;

@mixin transition-short {
	& {
		&,
		&::before,
		&::after {
			transition: 120ms linear 0ms;

			@media (prefers-reduced-motion: reduce) {
				transition: 20ms linear 0ms;
			}
		}
	}
}

@mixin transition {
	& {
		&,
		&::before,
		&::after {
			transition: 250ms linear 0ms;

			@media (prefers-reduced-motion: reduce) {
				transition: 50ms linear 0ms;
			}
		}
	}
}

@mixin transition-long {
	& {
		&,
		&::before,
		&::after {
			transition: 550ms linear 0ms;

			@media (prefers-reduced-motion: reduce) {
				transition: 350ms linear 0ms;
			}
		}
	}
}

@mixin scrollbar {
	overflow-y: scroll;
	scrollbar-width: thin;
	--bgScrollbar: rgba(169, 169, 169, 0.5);
	--outlineScrollbar: rgba(112, 128, 144, 0.3);

	&:hover,
	&:focus {
		--bgScrollbar: rgba(169, 169, 169, 0.7);
		--outlineScrollbar: rgba(112, 128, 144, 0.5);
	}

	&,
	* {
		&::-webkit-scrollbar {
			width: 8px;
			height: 6px;
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.15);
		}
		&::-webkit-scrollbar-track-piece {
			background-color: rgba(128, 128, 128, 0.05);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--bgScrollbar);
			outline: 1px solid var(--outlineScrollbar);
		}
	}
}
