@use '../helpers' as *;

@mixin animInit {
	&:not(.anim-out) {
		@content;
	}
}

div.page {
	& {
		&,
		&::before,
		&::after {
			transition: 360ms ease-in-out 0ms;
		}
	}

	&.unloaded,
	&.init,
	&.no-anim {
		opacity: 0;
	}
}

.transparent {
	opacity: 0;
}
