@use '../helpers' as *;

@mixin fontFamily {
	font-family: sans-serif;
}

* {
	@include fontFamily;
}

@mixin h0 {
	@include font(100px, 1, 400);

	@include screen-xhl {
		@include font(80px, 1, 400);
	}

	@include screen-sm {
		@include font(40px, 48px, 400);
	}
}

@mixin h1 {
	@include font(80px, 1, 700);
}

@mixin h2 {
	@include font(60px, 76px, 700);
}

@mixin h3 {
	@include font(44px, 60px, 700);
}

@mixin h4 {
	@include font(32px, 44px, 700);
}

@mixin h5 {
	@include font(24px, 32px, 800, 0.12em);
}

@mixin h6 {
	@include font(20px, 28px, 800);
}

@mixin text-20 {
	@include font(20px, 32px, 400);
}

@mixin text-16 {
	@include font(16px, 24px, 400);
}

@mixin text-14 {
	@include font(14px, 20px, 400);
}

@mixin text-11 {
	@include font(11px, 14px, 400);
}

@mixin uppercase {
	text-transform: uppercase;
}

h1,
.h1 {
	@include h1;
}

h2,
.h2 {
	@include h2;
}

h3,
.h3 {
	@include h3;
}

h4,
.h4 {
	@include h4;
}

h5,
.h5 {
	@include h5;
}

h6,
.h6 {
	@include h6;
}

.uppercase,
.ttu {
	@include uppercase;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.text {
	&-20 {
		@include text-20;
	}

	&-16 {
		@include text-16;
	}

	&-14 {
		@include text-14;
	}

	&-11 {
		@include text-11;
	}
}
