@use 'sass:math' as math;

.button-close {
	$box: 16px;
	$diagonal: $box * math.sqrt(2);
	$width: $diagonal;
	$size: 1px;
	$color: #000;

	cursor: pointer;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-width: $box;
	min-height: $box;
	height: $box;
	width: $box;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: $width;
		height: $size;
		transform-origin: center;
		background-color: $color;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
