@use '../helpers' as *;
@use '../font' as *;
@use 'sass:color' as color;

%popup {
	pointer-events: none;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		inset: 0;
		z-index: 199;
		background-color: color.adjust(#000, $alpha: -0.3);
		pointer-events: none;
		transition: inherit;
		opacity: 0;
	}

	&__container {
		z-index: 200;
		position: fixed;
		inset: 0;
		margin: auto;
		min-width: 200px;
		min-height: 200px;

		width: 100%;
		height: fit-content;
		padding: 48px;
		color: var(--bg);
		background-color: var(--text);
		transform-origin: center;
		transform: scale(0.5);
		opacity: 0;
		transition: inherit;
		@include crop-border(20px);

		@include screen-sm-up {
			max-width: 448px;
		}

		@include screen-sm {
			padding: 32px;
			max-width: calc(100vw - 32px);
		}
	}

	&.popup-open {
		pointer-events: all;

		%popup__container,
		&::after {
			opacity: 1;
		}

		%popup__container {
			transform: scale(1);
		}
	}

	&__icon {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-top: 8px;
		margin-bottom: 30px;

		& > * {
			max-width: 64px;
			max-height: 64px;
		}

		@include screen-sm {
			margin-top: 32px;
			margin-bottom: 24px;

			& > * {
				max-width: 48px;
				max-height: 32px;
			}
		}
	}

	&__title {
		margin-bottom: 24px;
		color: var(--bg);
		@include font(32px, 48px, 700);

		@include screen-sm {
			//@include font(18px, 24px, 800, 0.03em);
			@include h3;
		}
	}

	.button-close {
		position: absolute;
		inset: 24px 24px auto auto;

		@include screen-sm {
			inset: 32px 24px auto auto;
		}
	}

	&__form,
	&__text {
		display: flex;
		flex-flow: column;
		gap: 20px;
	}

	&__text {
		max-width: 352px;
		margin-bottom: 24px;

		@include screen-sm {
			margin-bottom: 38px;
		}

		&,
		* {
			color: var(--bg);
			text-align: center;
			@include text-16;
		}
	}
}
