$colorsDark: (
	'red': #ea5445,
	'red-darker': rgb(187, 67, 55),
	'green': #62d06d,
	'yellow': #f7c444,
	'white': #ffffff,
	'black': #000000,
	'dark': #1f1f1f,
	'grey': #333333,
	'grey-light': #454545,
	'bg': #000000,
	'text': #ffffff,
);

$colorsLight: $colorsDark;

$colors: ();

@function getTheme($name: 'light') {
	@if $name == 'dark' {
		@return map-merge($colors, $colorsDark);
	} @else {
		@return map-merge($colors, $colorsLight);
	}
}
