$colorsDark: (
	'valid': #62d06d,
	'invalid': #da1010,
	'bg': #000000,
	'text': #ffffff,
);

//$colorsLight: $colorsDark;

$colorsLight: (
	'valid': #62d06d,
	'invalid': #da1010,
	'bg': #ffffff,
	'text': #000000,
);

$colors: (
	'white': #ffffff,
	'black': #000000,
);

@function getTheme($name: 'light') {
	@if $name == 'dark' {
		@return map-merge($colors, $colorsDark);
	} @else {
		@return map-merge($colors, $colorsLight);
	}
}
