@use './colors';

$colors: colors.getTheme('light');

:root {
	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}
}

* {
	color: map-get($colors, 'text');
}

body,
.page {
	background-color: map-get($colors, 'bg');
}
