html {
	@supports (scroll-behavior: smooth) {
		scroll-behavior: smooth;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
}

* {
	&,
	&::before,
	&::after {
		padding: 0;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		box-sizing: border-box;
	}
}

a {
	color: #fff;
	text-decoration: none;
}

button {
	display: block;
	text-decoration: none;
	width: fit-content;
}

a,
button,
select,
summary {
	cursor: pointer;
}

details,
summary,
select,
textarea,
input,
button {
	border-radius: 0;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
}

summary {
	&::-webkit-details-marker {
		display: none;
	}
}

textarea {
	resize: none;
}

ul,
ol {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	user-select: none;
	display: flex;
}

picture,
figure {
	display: flex;
	user-select: none;
}

svg {
	width: 100%;
	height: 100%;
	max-height: fit-content;
	max-width: fit-content;
}
